fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
pymupdf
pdfplumber
pdf2image
easyocr
Pillow
openpyxl
pywin32
python-docx
lxml
python-pptx
reportlab==5.0.0
opencv-python
pytesseract
pyzbar
imagehash
piexif
numpy
